%h2  Manage Locations

= link_to 'create new location', '/admin/locations/new', :class => 'uk-button uk-button-primary uk-button-medium uk-button-primary'


%p
  - if @locations.present?
    %table
      - @locations.each do |location|
        %tr
          %td
            = location.zipcode   

          %td            
            = location.state.name if location.state.present?
          %td
            = location.city.name  if location.city.present?
          