%ul.uk-subnav.uk-subnav-line
  %li.uk-active
    %a{:href => "/store/settings"}
      %button.uk-button.uk-button-primary Store
  %li
    %a{:href => "#"}
      %button.uk-button.uk-button-primary Branch
  %li
    %a{:href => "#"}
      %button.uk-button.uk-button-primary User Management
  %li
    %a{:href => "#"}
      %button.uk-button.uk-button-primary Payment