%div.uk-homepage-background{:style =>"background-image: url('#{asset_path('lefiores-florist-sign-up-bg.jpg') }' ); padding-top:100px;"}
  .uk-container.uk-container-center
    .uk-grid.florist-features
      .uk-width-6-10
        = render 'form';

      .uk-width-4-10.black-transparent-bg
        .uk-margin-large-top
          %h2 Sell what's on your catalog right away.
        .uk-margin-large-top
          %h2 No setup fees, no commitment &   no contract.
        .uk-margin-large-top
          %h2 Keep 90% of what you sell- no other silly fees.

      .uk-margin-large-bottom  

.uk-margin-large-top

.uk-container.uk-container-center.uk-text-align-justify
  %p
    Lefiores only works with real local florists in Malaysia that provide floral designs and door-to-door delivery services. We do not work with 3rd party order takers that only takes order from their websites.
  %p
    It doesn't matter if you run a small operation in a small city or operates a florist chain with delivery covering a few states- our team here at Lefiores are committed to help because we understand how your business works.

.uk-margin-large-bottom


