.uk-container.uk-text-justify

  .uk-margin-top
  
  .uk-panel-hover
    .uk-panel-title How to Track Your Order
    All orders are delivered by the local florists you've ordered from. We place great importance on the florists ability to send your orders on time. Once you check out your order with Lefiores, you will get a confirmation from the florist either via telephone or e-mail that they've accepted your order and will let you know if they are able to deliver it as per your request. If they are unable to do so, they will inform you within the shortest time possible. 
    %br
    %br
    Once your order is placed with Lefiores, this is how our florists will update you:
    %br
    %ul
      %strong
        Accepted 
      \- Your order has been sent to the queue and will be assigned to a florist.
      %br
      %strong
        Out for Delivery
      \- Your order is en route to your receipient.
      %br
      %strong
        Delivered   
      \- Your order has been successfully delivered.
    These alerts will be sent to your email, so be sure to check them for the latest delivery updates.
  %br
  %br

  .uk-panel-hover
    .uk-panel-title What is 'Same Day Delivery' and 'Cut Off Time'?
    %strong 
      Same Day Delivery 
    refers to florists who are able to provide delivery service for the order you placed on the same day at no extra charges. 
    %br
    %br
    %strong
      Cut Off Time
    means the florist's last available time before Same Day Delivery service is closed for the day. So, we suggest that you place your order as soon as you can to avoid any delays.
    %br
    %br
    As with all orders, the confirmation from the florist is final. In the event they are unable to deliver your order on the same day, even though you've selected the Same Day Delivery option, the florist will do their best to inform you in advance. 
    %br
    %br
    If you felt that your order has not been professionally handled by the florist, please drop us a line here: =link_to 'Lefiores Customer Service', '#'
  %br
  %br
  .uk-panel-hover
    .uk-panel-title Delivery Charges
    Most florists provide free delivery to locations that is within 10km from their premise.
    %br
    %br
    For outskirt and rural areas, additional delivery charges may be required. The rate of the delivery charges is determined by florists themselves and may vary even though for florists who delivers to the same place. The delivery charges is shown up front so you will not be surprised when you check out you order later.
  %br
  %br
  .uk-panel-hover  
    .uk-panel-title Reviews
    We encourage you to provide feedbacks and reviews to the florist who'd just delivered your bouquets to your receipient. This not only help to improve the quality of their services, it will also help them to remember you as one of their loyal customers. And loyal customers always get all the perks.

.uk-margin-large-bottom