.uk-container.uk-text-justify

  .uk-margin-top
  
  .uk-panel-hover
    .uk-panel-title How to Make Payment
    There are 3 simple ways to make payment for your order.
    %br
    %br
    1) 
    %strong Credit Card
    %br    
    We accept VISA and MasterCard. That's pretty much 95% of the credit cards out there.
    %br
    %br
    %br
    2) 
    %strong PayPal
    %br
    Our PayPal ID is lefiores@gmail.com Don't have a PayPal account? Sign up one here: 
    =link_to 'www.paypal.com', 'http://www.paypal.com',  :title=>'Sign Up with PayPal'
    %br
    %br
    %br
    3) 
    %strong Online Banking
    %br
    You can make transfer funds via online banking to our Public Bank Berhad account.
    %br 
    %ul
      Public Bank Account Number: 3167248036
      %br
      Account Name: LEFIORES FLORAL TRADE
      %br
      %br    
    For non Public Bank account holders, a fee of RM0.11 may be charged by your bank for Inter GIRO funds transfer.

.uk-margin-large-bottom