.uk-container.uk-text-justify

  .uk-margin-top
  
  .uk-panel-hover
    .uk-panel-title Ingredients Substitution
    Until the day we can manufacture natural flowers in a factory, our florists will not be able to guarantee the freshness of the flowers all year round. Many factors such as excessive rain, prolonged droughts or delays in the transport can cause our flowers to arrive in rather bad shape and we will not be able to design orders that contains these sub-standard ingredients. And in these cases, we will suggest substitution of the ingredients and will only proceed with the design once we get your confirmation. If it's a no-go from your side, we will proceed to cancel the order and refund you in full.
    %br
    %br
    In some cases, design ornaments and filler foliages maybe substituted due to inavailability.
    %br
    %br
    All substitution will be replaced with items of similar or higher value. It's very important that you get the best quality from our florists.
    

.uk-margin-large-bottom