.uk-container.uk-text-justify

  .uk-margin-top
  
  .uk-panel
    .uk-panel-title Behind the Scenes

    YC Lee, Co-Founder
    %p
    David Khaw, Co-Founder
    %p
    Emil Rena Enriquez, Lead Coder
    %p
    Ammie C, Designer
    %p
    %em P.S. We are still choosing which photos to post up here.


.uk-margin-large-bottom