%ul.uk-subnav.uk-subnav-line
  %li
    %a{:href => "#"}
      %button.uk-button.uk-button-primary{:disabled => "true"} Product List
  %li.uk-active
    %a{:href => "/store/#{@store.id}/catalog/new"}
      %button.uk-button.uk-button-primary Create New
  