%ul.uk-subnav.uk-subnav-line
  %li
    %a{:href => "/store/#{@store.id}/catalog"}
      %button.uk-button.uk-button-primary{:disabled => ('true' if catalog_subnav_active_menu == 'index')} Product List
  %li.uk-active
    %a{:href => "/store/#{@store.id}/catalog/new"}
      %button.uk-button.uk-button-primary{:disabled => ('true' if catalog_subnav_active_menu == 'create')} Create New