body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h2.head-title {
  font-weight: 300;
  border-left: 3px solid #ff0052;
  padding-left: 20px;
}
a{
	color: #fe3452;
} 
a:hover{
	background-color:transparent;
	color: #fedede
}