- if notice
  %div.uk-alert.uk-alert-success{'data-uk-alert'=>''}
    %a.uk-alert-close.uk-close{'href'=>''}
    %p
      = notice
- if alert
  %div.uk-alert.uk-alert-warning{'data-uk-alert'=>''}
    %a.uk-alert-close.uk-close
    %p
      = alert

